.text-title{
    color: #324bc7;
    font-weight: bold;
}
.bg-header{
    background-color: #F0E3D3;
    justify-content: center;
}
.p-10{
    padding: 5px 0 9px;
}
.box-none{
    box-shadow: none;
    text-align: center;
}