.text-title{
    color: #556ee6;
}
.bg-header{
    background-color: rgba(85, 110, 230, 0.25);
    justify-content: center;
}
.p-10{
    padding: 5px 0 9px;
}
.box-none{
    box-shadow: none;
    text-align: center;
}